HeaderFilterRegex: "include/variant_cpp11"
Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    google-*,-google-runtime-references,
    performance-*,
    portability-*,
    readability-*,-readability-magic-numbers,-readability-redundant-member-init,
    modernize-*,-modernize-use-trailing-return-type,-modernize-use-default-member-init,-modernize-pass-by-value,-modernize-avoid-c-arrays,
    hicpp-*,-hicpp-vararg,-hicpp-avoid-c-arrays,
    cert-*,
    bugprone-*,
CheckOptions:
# Naming Conventions
# for these parameters of the naming convention,
# see https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case

  - key:             readability-identifier-naming.ClassCase
    value:           lower_case
  - key:             readability-identifier-naming.StructCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumCase
    value:           lower_case

  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case

  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumConstantCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           _
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           _

  - key:             readability-identifier-naming.TypeTemplateParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.ValueTemplateParameterCase
    value:           lower_case
